# FastAPI and server
fastapi
uvicorn[standard]
python-multipart

# Scheduler
APScheduler

# Configuration
python-dotenv
pydantic
pydantic-settings
pydantic[email]

# Selenium automation
selenium

# Data processing
pandas
openpyxl
lxml
beautifulsoup4
